.highlight {
  table {
    width: 100%;

    pre {
      padding: 5px;
      border-radius: 0;
      border: 0;
      color: #ccc;
      background-color: #373737;
    }

    .gutter {
      display: inline-block;
      width: 31px;

      pre.lineno {
        margin-bottom: 0;
        background: #3d3d3d;
        border-right: 1px solid #5d5d5d;
      }
    }

    tr {
      display: flex;
    }

    .code {
      display: inline-block;
      flex: 1;

      pre {
        padding: 5px 5px 5px 8px;

        .k  { color: #e06c75; }
        .kr { color: #c678dd; }
        .kc { color: #d19a66; }
        .mi { color: #d19a66; }
        .s1 { color: #98c379; }
        .nb { color: #56b6c2; }
      }
    }
  }
}
