@import 'colors';

.sidenav {
  font-size: 14px;
  width: 210px;
  min-width: 210px;
  margin: 15px 10px 0 0;

  .nav {
    li {
      padding-left: 5px;
      a {
        padding: 0;
      }
      a:hover {
        background-color: inherit;
      }
    }

    li a.active {
      color: $k-channel-color;
    }
  }

  .nav-section h3 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}
