---
---

@import 'bootstrap';
@import 'font-awesome';
@import 'top-banner';
@import 'sidenav';
@import 'highlight';
@import 'footer';

body {
  padding-top: 50px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  overflow-y: scroll;
}

.CodeMirror {
  height: auto;
  margin-bottom: 10px;

  pre {
    padding-left: 8px;
  }
}

.CodeMirror.cm-s-kevscript {
  background-color: #373737;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

.cm-s-kevscript .CodeMirror-gutters {
  box-shadow: none;
}

a:hover {
  color: $k-channel-color;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav.navbar-nav li {
  border-bottom: 2px solid #222;
}
.nav.navbar-nav li a.active {
  border-bottom: 2px solid $k-channel-color;
}
.navbar-nav > li > a.nav-icon {
  font-size: 29px;
  line-height: 30px;
  padding: 10px;
}

.container {
  .content {
    display: flex;
    align-items: flex-start;
    padding: 15px 0 35px 0;

    .inner-content {
      flex: 1;
      margin-left: 10px;

      h1, h2, h3, h4, h5, h6 {
        // margin-top: 10px;
      }

      blockquote {
        background-color: $alert-warning-bg;
      }

      h2 {
        height: 35px;
      }

      hr {
        height: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #eee;
      }

      img[src^="/"] {
        align-self: center;
        box-shadow: 0px 3px 10px #333;
      }

      .post {
        padding-bottom: 35px;
      }

      .nav.nav-tabs {
        li.active {
          a {
            background-color: #f59149;
            color: #fff;
          }
        }
      }

      .tab-content {
        .tab-pane {
          h1:first-child,
          h2:first-child,
          h3:first-child,
          h4:first-child,
          h5:first-child,
          h6:first-child {
            margin-top: 0;
          }
        }
        .tab-pane.active {
          border: 1px solid #ddd;
          border-top: none;
          padding: 8px;
        }
      }
    }
  }
}
