---
---

@import 'bootstrap';
@import 'font-awesome';
@import 'top-banner';
@import 'sidenav';
@import 'highlight';

body {
  padding-top: 50px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

blockquote {
  background-color: $alert-warning-bg;
}

img {
  align-self: center;
}

.CodeMirror {
  height: auto;
  margin-bottom: 10px;
}

a:hover {
  color: $k-channel-color;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav.navbar-nav li {
  border-bottom: 2px solid #222;
}
.nav.navbar-nav li a.active {
  border-bottom: 2px solid $k-channel-color;
}
.navbar-nav > li > a.nav-icon {
  font-size: 29px;
  line-height: 30px;
  padding: 10px;
}

.container {
  .content {
    display: flex;
    align-items: flex-start;
    padding-top: 15px;

    .inner-content {
      flex: 1;
      margin-left: 10px;

      h2 {
        height: 35px;
      }

      hr {
        height: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #eee;
      }

      .post {
        padding-bottom: 35px;
      }
    }
  }
}
