<div class="col-md-3 learn-menu-container">
    <div class="learn-menu">
        <a href="/learn.html">Learn</a>
        <ul class="list-unstyled">
            <li>
                <div class="learn-menu">
                    <a href="/learn/platform.html">Platforms</a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/learn/platform/js.html">JavaScript</a>
                        </li>
                        <li>
                            <a href="/learn/platform/java.html">Java</a>
                        </li>
                        <li>
                            <a href="/learn/platform/dotnet.html">.NET</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="learn-menu">
                    <a href="/learn/kevscript.html">KevScript</a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/learn/kevscript/crud.html">CRUD</a>
                        </li>
                        <li>
                            <a href="/learn/kevscript/management.html">Management</a>
                        </li>
                        <li>
                            <a href="/learn/kevscript/binding.html">Binding</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
