{% for node in site.pages %}
  {% if group == null or group == node.group %}
    {% assign pagePath = page.path | split:'/' | first %}
    {% assign nodePath = node.path | split:'/' | first %}
    {% if nodePath == pagePath %}
      <li class="active"><a href="{{node.url}}" class="active">{{ node.menu | default: node.title }}</a></li>
    {% else %}
      <li><a href="{{node.url}}">{{ node.menu | default: node.title }}</a></li>
    {% endif %}
    {% assign pagePath = nil %}
    {% assign nodePath = nil %}
  {% endif %}
{% endfor %}
