{% for section in site.data.nav_docs %}
  <div class="nav-section">
    <h3>{{ section.title }}</h3>
    <ul class="nav">
      {% for item in section.items %}
        <li>
          {{ item | sidebar_link: 'docs':section.id }}
          {% if item.subitems %}
            <ul class="nav">
              {% for subitem in item.subitems %}
                <li>
                  {{ subitem | sidebar_link: 'docs':section.id }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
